#
# Interrupt 0 - Divide Error Exception (#DE)
#
menu "Interrupt 0 - Divide Error Exception (#DE)"

config DEBUG_INTERRUPT0
        bool "Interrupt 0 - Divide Error Exception (#DE)"
        help
	  Indicates the divisor operand for a DIV or IDIV instruction 
	  is 0 or that the result cannot be represented in the number 
	  of bits specified for the destination operand.

if DEBUG_INTERRUPT0

config DEBUG_DIVIDE_ZERO
	bool "Trigger #DE by DIV or IDIV instruction is 0"
	help 
	  Trigger #DE that indicates the divisor operand for a DIV or 
	  IDIV instruction is 0.

config DEBUG_OVERFLOW_BIT
	bool "Trigger #DE by result cannot be represented in destination"
	help
	  Trigger #DE that the result cannot be represented in the number 
          of bits specified for the destination operand.

config DEBUG_SOFT_INT0
	bool "Trigger #DE by soft-interrupt 'int $0x00'"
	help
	  Trigger #DE by soft interrupt 'int $0x0'

endif # End of DEBUG_INTERRUPT

endmenu
