#
# Debug Filesystem: MINIX filesystem
#
menu "MINIX Filesystem"

config DEBUG_VFS_MINIXFS
        bool "Debug MINIX Filesystem"
        help
	  MINIXFS

if DEBUG_VFS_MINIXFS

config DEBUG_MINIXFS_BLOCK
	bool "Debug MINIXFS Boot, Super Block, Inode BitMap, Zone BitMap"
	help
	  MINIXFS boot block, super block, inode bit map, and zone bit map

config DEBUG_MINIXFS_INODE
	bool "Debug Inode on MINIXFS"
	help
	  Inode contains all the important information about a file, except
	  it name. It contains the file permissions, file type, user, group, 
	  size modification time, number of links, and the location and order 
	  of all the blocks in the file. All values are stored in low byte - 
	  high byte order.

endif # End of DEBUG_VFS_MINIXFS

endmenu
