#
# Debug Filesystem: MINIX filesystem
#
menu "MINIX Filesystem"

config DEBUG_VFS_MINIXFS
        bool "MINIX Filesystem: A Unix Filesystem"
        help
	  Minix File system.

if DEBUG_VFS_MINIXFS

config DEBUG_BOOT_BLOCK
	bool "Layout: boot block(boot code, partition table)"
	help
	  Boot block on MINIX Filesystem.

config DEBUG_SUPER_BLOCK
	bool "Layout: super block(inode,zone,BitMap)"
	help
	  Super block on MINX Filesystem.

config DEBUG_INODE_BITMAP
	bool "Layout: Inode-BitMap (manage unused/used Inode)"
	help
	  Inode-BitMap on Minix-fs.

config DEBUG_ZONE_BITMAP
	bool "Layout: Zone-BitMap (manage unused/used Zone)"
        help
	  Zone-BitMap on Minix-fs.

config DEBUG_INODE_TABLE
	bool "Layout: Inode-Table (manage minix inode)"
	help
	  Inode-Table on Minix-fs.

config DEBUG_DATA_ZONE
	bool "Layout: Data Zone (Store file/directory)"
	help
	  Data Zone on MINIX-fs.

config DEBUG_MINIX_INODE
	bool "minix_inode: a inode on minix-fs"
	help
	  Sturcture of minix_inode.

config DEBUG_MINIX_DIR_ENTRY
	bool "minix_dir_entry: a direntory on minix-fs"
	help
	  Structure of minix_dir_entry

endif

endmenu
