#
# Debug Filesystem: MINIX filesystem
#
menu "MINIX Filesystem"

config DEBUG_VFS_MINIXFS
        bool "MINIX Filesystem: A Unix Filesystem"
        help
	  Minix File system.

if DEBUG_VFS_MINIXFS

config DEBUG_BOOT_BLOCK
	bool "Layout: boot block(boot code, partition table)"
	help
	  Boot block on MINIX Filesystem.

config DEBUG_SUPER_BLOCK
	bool "Layout: super block(inode,zone,BitMap)"
	help
	  Super block on MINX Filesystem.

endif

endmenu
