#
# file table:
#
menu "File table:  File descriptor table"

config DEBUG_VFS_FILE_TABLE
        bool "File Table: file descriptor table"
        help
	  The inode is a data structure in a Unix-style file system 

if DEBUG_VFS_FILE_TABLE

config DEBUG_FILE_TABLE_INIT
	bool "Iniitialize all file_table structure."
	help
	  Initialize all file_table structure.

config DEBUG_FILE_GET
	bool "Get an empty file descriptor or grow file table"
	select DEBUG_FILE_TABLE_INIT
	help
	  Get an empty file descriptor. If subsytem can not get
	  a file descriptor on first time, it will grow file_table.

endif

endmenu
