#
# Execute-Link format file: ELF
#

menu "ELF: Executable and Linkable Format"

config DEBUG_BINARY_ELF
	bool "ELF: Executable and Linkable Format"
	help
	  Executable and Linkable Format (ELF, formerly named Extensible 
	  Linking Format), is a common standard file format for executable
	  files, object code, shared libraries, and core dumps. 

if DEBUG_BINARY_ELF

config DEBUG_ELF_FORMAT
	bool "Format for ELF (Executable and Linkable Format)"
	help
	  Parse foramt for ELF (Executable and Linkable Format).

choice
	prompt "ELF Format File"
	default ELF_RELOCATABLE_FILE

config ELF_RELOCATABLE_FILE
	bool "Parse ELF Relocatable file"
	select DEBUG_ELF_FORMAT
	help
	  Parse formt for Relocable file.

config ELF_EXECUTE_FILE
	bool "Parse ELF Executable file"
	select DEBUG_ELF_FORMAT
	help
	  Parse formt for executable file.

config ELF_SHARELIB_FILE
	bool "Parse ELF Shared object file"
	select DEBUG_ELF_FORMAT
	help
	  Parse formt for Shared object file.

endchoice

config PARSE_ELF_HEADER
	bool "Parse Header for ELF"
	select DEBUG_ELF_FORMAT
	help
	  Parse ELF header.

config ELF_PRIVATE_SECTION_DATA
	bool "Add and Parse a data into ELF section '.bis.data'"
	select DEBUG_ELF_FORMAT
	help
	  Add and parse a new data into ELF section '.bis.data'.

config ELF_PRIVATE_SECTION_FUNC
	bool "Add and parse a function into ELF section '.bis.text'"
	select DEBUG_ELF_FORMAT
	help
	  Add and parse a new function into ELF section '.bis.text'

config ELF_SPECIAL_SYMBOL
	bool "ELF special link symbol."
	select DEBUG_ELF_FORMAT
	help
	  ELF special link symbol. such as __edata.

config ELF_SECTION_TABLE
	bool "ELF Section Table"
	select DEBUG_ELF_FORMAT
	help
	  ELF Section Table.

if ELF_SECTION_TABLE

config ELF_SECTION_CODE
	bool ".text or .code      Code Section"
	help
	  ELF Code Section point '.text' or '.code'
	
config ELF_SECTION_DATA
	bool ".data               Data Section"
	help
	  ELF Data Section point '.data'.
	
config ELF_SECTION_STRTAB
	bool ".strtab             String Table Section"
	help
	  ELF String Table section '.strtab'.
	
config ELF_SECTION_SHSTRTAB
	bool ".shstrtab           Section String Table section"
	help
	  ELF Section string table '.shstrtab'.

config ELF_SECTION_BSS
	bool ".bss                Block Started by Symbol: BSS"
	help
	  ELF BSS: Block Started by Symbol.

config ELF_SECTION_RODATA
	bool ".rodata             Read-only Data section"
	help
	  ELF Read-Only Data section.

config ELF_SECTION_COMMENT
	bool ".comment            Comment section"
	help
	  ELF Comment section.

config ELF_SECTION_SYMTAB
	bool ".symtab             Symbol table section"
	help
	  ELF Symbol table section.

config ELF_SECTION_RELTEXT
	bool ".rel.text           Relocation Table section"
	help
	  ELF Relocation table section.

endif # ELF_SECTION_TABLE

endif

endmenu
