#
# Execute-Link format file: ELF
#

menu "ELF: Executable and Linkable Format"

config DEBUG_BINARY_ELF
	bool "ELF: Executable and Linkable Format"
	help
	  Executable and Linkable Format (ELF, formerly named Extensible 
	  Linking Format), is a common standard file format for executable
	  files, object code, shared libraries, and core dumps. 

if DEBUG_BINARY_ELF

config DEBUG_ELF_FORMAT
	bool "Format for ELF (Executable and Linkable Format)"
	help
	  Parse foramt for ELF (Executable and Linkable Format).

config ELF_RELOCATABLE_FILE
	bool "Parse ELF Relocable file"
	select DEBUG_ELF_FORMAT
	help
	  Parse formt for Relocable file.

config PARSE_ELF_HEADER
	bool "Parse Header for ELF"
	select DEBUG_ELF_FORMAT
	help
	  Parse ELF header.

config ELF_SECTION_DATA
	bool "Add and Parse a data into ELF section '.bis.data'"
	select DEBUG_ELF_FORMAT
	help
	  Add and parse a new data into ELF section '.bis.data'.

config ELF_SECTION_FUNC
	bool "Add and parse a function into ELF section '.bis.text'"
	select DEBUG_ELF_FORMAT
	help
	  Add and parse a new function into ELF section '.bis.text'

config ELF_SECTION_TABLE
	bool "ELF Section Table"
	select DEBUG_ELF_FORMAT
	help
	  ELF Section Table.

if ELF_SECTION_TABLE

config ELF_SECTION_CODE
	bool "ELF '.text'/'.code' code section"
	help
	  ELF Code Section point '.text' or '.code'
	

endif # ELF_SECTION_TABLE

endif

endmenu
