#
# System Call: rename
#

menu "rename      Renames a specified file"

config DEBUG_SYSCALL_RENAME
	bool "rename(): Renames a specified file"
	help
	  Debug rename system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_RENAME

config DEBUG_SYSCALL_RENAME0
	bool "System CALL: rename (linux0.11.1 MINIXFS)"
	help
	  Rename system call on linux0.11.1.

endif

endmenu
