#
# System Call: uname
#

menu "uname       get name and information about current kernel"

config DEBUG_SYSCALL_UNAME
	bool "uname(): get name and information about current kernel"
	help
	  Debug uname system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_UNAME

config DEBUG_SYSCALL_UNAME0
	bool "System CALL: uname (linux0.11.1 MINIXFS)"
	help
	  Uname system call on linux0.11.1.

endif

endmenu
