#
# Interrupt 10 - Invalid TSS Exception (#TS)
#
menu "Interrupt 10 - Invalid TSS Exception (#TS)"

config DEBUG_INTERRUPT10
        bool "Interrupt 10 - Invalid TSS Exception (#TS)"
        help
	  Indicates that there was an error related to a TSS. Such an
	  error might be detected during a task switch or during the
	  execution of instructions that use information from a TSS.
	  Table show the conditions that cause an invaild TSS exception
	  to be generated.

if DEBUG_INTERRUPT10

config DEBUG_SOFT_INT10
	bool "Trigger #TS by soft-interrupt 'int $0x0A'"
	help
	  Trigger #TS by soft interrupt 'int $0xA'

endif # End of DEBUG_INTERRUPT

endmenu
