#
# Data storage, general recording of information
#

menu "Data storage: Main Memory, Buffer, Cache ..."

config DEBUG_STORAGE
	bool "Debug Data Storage, Memory, ROM, TLB...."
	help
	  Debug Data Storage.

if DEBUG_STORAGE

# Main Memory
source "tools/testcase/mmu/storage/memory/Kconfig"

# Filesystem Buffer
source "tools/testcase/mmu/storage/buffer/Kconfig"

# Register
source "tools/testcase/mmu/storage/register/Kconfig"

endif

endmenu
