#
# Logical Address Machanism on MMU
#

menu "Logical Address Machanism on MMU"

config DEBUG_MMU_LOGIC
	bool "Debug Logical Address machanism on MMU"
	help
	  Debug Logical Address Machanism on MMU.

if DEBUG_MMU_LOGIC

config DEBUG_LOGIC
	bool "Debug base Logical address and convent to linear address"
	help
	  Debug Logical address convent linear address.

endif

endmenu
