#
# Stack
#

menu "Stack: An execution stack, program stack, control stack"

config DEBUG_STACK
	bool "An execution stack, program stack, control stack"
	help
	  An execution stack, program stack, control stack, run-time 
	  stack, or machine stack

endmenu
