# Ignore image file
vmlinux
BiscuitOS
bootloader
bootsect
setup
vmlinux.bin

# Ignore indicate file
*.o
.*
*.*~
*.map
*.svg
*.patch
*.
*.a
*.cmd
*.img

# Execte file

!.gitignore

# output
keyboard.s
drivers/chr_drv/keyboard.s

include/config/
