# Ignore image file
vmlinux
BiscuitOS

# Ignore indicate file
*.o
.*
*.*~
*.map
*.svg
*.patch
*.
*.a
*.cmd

# Execte file

!.gitignore

# output
keyboard.s
drivers/chr_drv/keyboard.s

include/config/
