# Ignore image file
*.img


# Ignore indicate file
*.o
.*
*.*~
*.map
*.svg
*.patch
*.

# Execte file
Image
BiscuitOS.img
setup
bootsect
system
include/version.h

!.gitignore
!.config

# output
keyboard.s
