#
# Addressing Mechanism
#

menu "Addressing Mechanism"

config DEBUG_ADDRESSING
	bool "Memory addressing mechanism"
	help
	  Debug Memory addressing mechanism.

if DEBUG_ADDRESSING

source "tools/demo/mmu/addressing/logical_address/Kconfig"

endif

endmenu
