#
# System Call: setreuid
#

menu "setreuid    set real and/or effective user or group ID "

config DEBUG_SYSCALL_SETREUID
	bool "setreuid(): set real and/or effective user or group ID "
	help
	  Debug setuid system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_SETREUID

config DEBUG_SYSCALL_SETREUID0
	bool "System CALL: setreuid (linux0.11.1 MINIXFS)"
	help
	  Setreuid system call on linux0.11.1.

endif

endmenu
