#
# System Call: getgid
#

menu "getgid      get the real group ID"

config DEBUG_SYSCALL_GETGID
	bool "getgid(): get the real group ID"
	help
	  Debug getgid system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_GETGID

config DEBUG_SYSCALL_GETGID0
	bool "System CALL: getgid (linux0.11.1 MINIXFS)"
	help
	  Getgid system call on linux0.11.1.

endif

endmenu
