#
# POSIX System Call
#

menu "Portable Operating System Interface of UNIX (POSIX)"

config DEBUG_POSIX
	bool "Debug POSIX System Call Mechanism on X86 Architecture"
	help
	  Debug System Call Mechanism on X86 Architecture.

config DEBUG_SYSCALL
	bool "Private POSIX system call on int $0x81"
	select DEBUG_POSIX
	help
	  Debug Private system call mechanism on 'int $0x81'

if DEBUG_POSIX

# setup
source tools/demo/posix/setup/Kconfig

# open
source tools/demo/posix/open/Kconfig

# read
source tools/demo/posix/read/Kconfig

# write
source tools/demo/posix/write/Kconfig

# close
source tools/demo/posix/close/Kconfig

# fork
source tools/demo/posix/fork/Kconfig

# creat
source tools/demo/posix/creat/Kconfig

endif

endmenu
