#
# System Call: time
#

menu "time        get time in seconds"

config DEBUG_SYSCALL_TIME
	bool "time(): get time in seconds"
	help
	  Debug time system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_TIME

config DEBUG_SYSCALL_TIME0
	bool "System CALL: time (linux0.11.1 MINIXFS)"
	help
	  Time system call on linux0.11.1.

endif

endmenu
