#
# System Call: ustat
#

menu "ustat:      -- unknow system call"

config DEBUG_SYSCALL_USTAT
	bool "ustat(): unknow system call"
	help
	  Debug ustat system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_USTAT

config DEBUG_SYSCALL_USTAT0
	bool "System CALL: ustat (linux0.11.1 MINIXFS)"
	help
	  Ustat system call on linux0.11.1.

endif

endmenu
