#
# Page-Fault Exceptions
#

menu "Page-Fault Exceptions on MMU"

config DEBUG_MMU_PAGE_FAULT
	bool "Debug Page fault on MMU"
	help
	  Accesses using linear addresses may cause page-fault exception 
	  (#PF). An linear address may cause a page-fault exception for
	  either of two reason:
	   1) There is no translation for the linear address
	   2) There is a translation for the linear address, but its access
	      rights do not permit the access.

if DEBUG_MMU_PAGE_FAULT

config DEBUG_PAGE_FAULT
	bool "Debug Page fault on paging-mode"
	help
	  Accesses using linear addresses may cause page-fault exception 
          (#PF). An linear address may cause a page-fault exception for
          either of two reason:
           1) There is no translation for the linear address
           2) There is a translation for the linear address, but its access
              rights do not permit the access.

endif

endmenu
