#
# Interrupt 6 - Invalid Opcode Exception (#UD)
#
menu "Interrupt 6 - Invalid Opcode Exception (#UD)"

config DEBUG_INTERRUPT6
        bool "Interrupt 6 - Invalid Opcode Exception (#UD)"
        help
	  Indicate that the processor did one of the following things:
	  * Attempted to execute an invalid or reserved opcode.
	  * Attempted to execute an instruction with an operand type 
	    that is invalid for its accompanying opcode. for example, 
	    the source operand for a LES instruction is not a memory 
	    location.
	  * Detected a LOCK prefix that precedure an instruction that 
	    may not be locked or one that may be locked but the destination
	    operand is not a memory location.
	  * Attempted to execute an LLDT, SLDT, LTR, STR, LSL, LAR, VERR,
	    VERW, or ARPL instruction while in read-address or virtual-8086 
	    mode.

if DEBUG_INTERRUPT6

config DEBUG_SOFT_INT6
	bool "Trigger #UD by soft-interrupt 'int $0x06'"
	help
	  Trigger #UD by soft interrupt 'int $0x6'

config DEBUG_INT6_BOUND
	bool "Trigger #UD on BOUND instruction"
	help
	  If second operand is not a memory location.

endif # End of DEBUG_INTERRUPT

endmenu
