#
# System Call: stat
#

menu "stat        -- unknow system call"

config DEBUG_SYSCALL_STAT
	bool "stat(): unknow system call"
	help
	  Debug stat system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_STAT

config DEBUG_SYSCALL_STAT0
	bool "System CALL: stat (linux0.11.1 MINIXFS)"
	help
	  Stat system call on linux0.11.1.

endif

endmenu
