#
# Debug Disk: Sector, Cylinder, head, track, MBR, etc
#
menu "Disk (Sector, Cylinder, Head, Track, Partition, MBR, etc)"

config DEBUG_BLOCK_DISK
        bool "Debug Disk (Sector, Cylinder, Head, Track, Partition, etc)"
        help
          Debug Disk mechanism

if DEBUG_BLOCK_DISK

config DEBUG_PARTITION_MBR
	bool "Main Boot Record (MBR) on Disk partition"
	help
	  Debug MBR partition Table.

config DEBUG_DISK_CHS
	bool "Cylinder, Head, Sector, Track, Platter, Boom and Spindle"
	help
	  Debug Disk metadata of Cylinder, Head, Sector, Track, Platter,
	  Boom and Spindle.

endif

endmenu
