#
# Inode: Filesystem object file or dirent
#
menu "Inode:    Describe a Filesystem object file or dirent"

config DEBUG_VFS_INODE
        bool "Inode: Describe a Filesystem object file or dirent"
        help
	  The inode is a data structure in a Unix-style file system 
	  that describes a filesystem object such as a file or a 
	  directory. Each inode stores the attributes and disk block 
	  location(s) of the object's data. Filesystem object 
	  attributes may include metadata (times of last change,
	  access, modification), as well as owner and permission data

if DEBUG_VFS_INODE

config DEBUG_INODE_INIT
	bool "Iniitialize all inode structure."
	help
	  Initialize all inode structure.

config DEBUG_INODE_IGET
	bool "iget(): get an inode with speical name"
	help
	  Debug main routine for iget().

config DEBUG_INODE_IGET_HASH
	bool "iget(): get an inode from Inode-hash"
	help
	  Debug main routine for iget() with hash table.

config DEBUG_INODE_IPUT
	bool "iput(): put an inode to VFS"
	help
	  Debug core routine for iput();

config DEBUG_INODE_IPUT_ROOTFS
	bool "put a inode in special rootfs"
	select DEBUG_INODE_IPUT
	help
	  Debug core routine for iput on special rootfs.

config DEBUG_INODE_READ_SPECIAL
	bool "Read inode from special Rootfs"
	help
	  Read inode structure from special Rootfs.

config DEBUG_INODE_WRITE_SPECIAL
	bool "write inode to special Rootfs"
	help
	  Write inode structure to special Rootfs.

endif

endmenu
