#
# Common scheduler
#

menu "Task scheduler"

config DEBUG_SCHED
	bool "Debug Task scheduler machanism on X86 architecture"
	help
	  Debug Task scheduler machanism on X86 architecture.

if DEBUG_SCHED

config DEBUG_GDT
	bool "GDT,LDT,GDTR,LDTR,IDTR,TR,Segment Descriptor"
	help
	  Debug Global Descriptor Table.

config DEBUG_SEGMENT
	bool "Segment (CS, SS, DS, FS, GS, ES)"
	select TESTCASE_GDT
	help
	  Debug Segment such as CS, SS, DS, FS, GS and ES.

config DEBUG_GATE
	bool "System descriptors(TSS,Call Gate,Trap)"
	select TESTCASE_GDT
	help
	  Debug system descritpor on GDT or LDT

config DEBUG_IDT
	bool "Gate on IDT(Call Gate, Task Gate, Trap Gate)"
	help
	  Debug Call Gate, Task Gate, Trap Gate on IDT.

config DEBUG_STACK
	bool "Stack: SS, ESP, EBP, Near call, Far call and Switching Stack"
	select TESTCASE_MULT_PRIVILEGE
	help
	  The Stack is a contiguous array of memory locations. It is 
	  contained in a segment and identified by the segment selector
	  in the SS register.

config DEBUG_MULT_PRIVILEGE
	depends on DEBUG_USERLAND_EARLY || DEBUG_USERLAND_SHELL
	bool "Stack switch on different privilege level"
	help
	 Stack switch on different privilege level

source tools/testcase/scheduler/task/Kconfig

endif

endmenu
