#
# Common scheduler
#

menu "Task scheduler"

config TESTCASE_SCHED
	bool "Test Task scheduler"
	help
	  Basic task scheduler

if TESTCASE_SCHED

config TESTCASE_GDT
	bool "Test Global Descriptor Table(GDT)"
	help
	  Debug Global Descriptor Table.

endif

endmenu
