#
# Virtual Address Machanism on MMU
#

menu "Virtual Address Machanism on MMU"

config DEBUG_MMU_VIRTUAL
	bool "Debug VIRTUAL Address mechanism on MMU"
	help
	  Debug VIRTUAL Address Mechanism on MMU.

if DEBUG_MMU_VIRTUAL

config DEBUG_MMU_VIRTUAL_TABLE
	bool "virtual address to physical via page table"
	help
	  Cover virtual address to physical address via page table.

endif

endmenu
