#
# Register
#

menu "Register: X86 Common Register mechanism"

config DEBUG_REGISTER
	bool "Common Register Descriptor for X86 Architecture"
	help

if DEBUG_REGISTER

# GDTR Register
source "tools/demo/mmu/storage/register/GDTR/Kconfig"

# LDTR Register
source "tools/demo/mmu/storage/register/LDTR/Kconfig"

# IDTR Register
source "tools/demo/mmu/storage/register/IDTR/Kconfig"

# TR Register
source "tools/demo/mmu/storage/register/TR/Kconfig"

# CS Register
source "tools/demo/mmu/storage/register/CS/Kconfig"

endif

endmenu
