menu "Segmentation mechanism: segment/selector/descriptor"

config DEBUG_MMU_SEGMENT
	bool "Segmentation mechanism on IA32"
	help
	  Debug segmentation mechanism on IA32. 


if DEBUG_MMU_SEGMENT

config DEBUG_SEG_SEL
	bool "Segment Selector: Register and Instructions"
	help
	  Segment Selector.

if DEBUG_SEG_SEL

config DEBUG_SEG_CS
	bool "Code segment selector"
	help
	  Code segment selector.

config DEBUG_SEG_DS
	bool "Data segment selector"
	help
	  Data segment selector.

config DEBUG_SEG_SS
	bool "Stack segment selector"
	help
	  Stack segment selector.

config DEBUG_SEG_FS
	bool "User data segment selector"
	help
	  User data segment selector.
	  
config DEBUG_SEG_INS_MOV
	bool "MOV instruction to loading Sel (visible)"
	help
	  MOV instruction to loading Segment selector (visible).

config DEBUG_SEG_INS_POP
	bool "POP instruction to loading Sel (visible)"
	help
	  POP instruction to loading Segment selector (visible).

config DEBUG_SEG_INS_LDS
	bool "LDS: loading a far pointer into DS segment selector"
	help
	  Loading a far pointer into DS segment selector.

config DEBUG_SEG_INS_LES
	bool "LES: loading a far pointer into ES segment selector"
	help
	  Loading a far pointer into ES segment selector.

config DEBUG_SEG_INS_LFS
	bool "LFS: loading a far pointer into FS segment selector"
	help
	  Loading a far pointer into FS segment selector.

config DEBUG_SEG_INS_LGS
	bool "LGS: loading a far pointer into GS segment selector"
	help
	  Loading a far pointer into GS segment selector.

config DEBUG_SEG_INS_LSS
	bool "LSS: loading a far pointer into SS segment selector"
	help
	  Loading a far pointer into SS segment selector.

config DEBUG_SEG_INS_LSL
	bool "LSL: loading segment limit for specify segment."
	help
	  Loading segment limit for specify segment.

config DEBUG_SEG_INS_LAR
	bool "LAR: loading segment access right byte"
	help
	  Loading segment access right byte.

endif # DEBUG_SEG_SEL

config DEBUG_MMU_GDTR
        bool "GDTR: Global Descriptor Table Register and Instruction"
        help
          Debug Global descriptor table register.

if DEBUG_MMU_GDTR

config DEBUG_GDTR_SGDT
	bool "SGDT: Store Global Descriptor Table register"
	help
	  Store Global descriptor table register.

config DEBUG_GDTR_LGDT
	bool "LGDT: Load Global Descriptor Table register"
	help
	  Load Global descriptor table register.

endif # DEBUG_MMU_GDTR

config DEBUG_MMU_LDTR
	bool "LDTR: Local Descriptor Table Register and Instructions"
	help
	  Debug Local descriptor table register.

if DEBUG_MMU_LDTR

config DEBUG_LDTR_SLDT
	bool "SLDT: Store Local Descriptor table register"
	help
	  Store Global descriptor table register.

config DEBUG_LDTR_LLDT
	bool "LLDT: Load Local Descriptor table register"
	select DEBUG_LDTR_SLDT
	help
	  Load Local descriptor table register.

endif # DEBUG_MMU_LDTR

config DEBUG_MMU_IDTR
	bool "IDTR: Interrupt Descriptor Table Register"
	help
	  Interrupt Descriptor Table register.

if DEBUG_MMU_IDTR

config DEBUG_IDTR_SIDT
	bool "SIDT: Store Interrupt Descriptor Table Register"
	help
	  Store Interrupt Descriptor Table.

config DEBUG_IDTR_LIDT
	bool "LIDT: Load Interrupt Descriptor Table Register"
	select DEBUG_IDTR_SIDT
	help
	  Load Interrupt Descriptor Table.

endif # DEBUG_MMU_IDTR

config DEBUG_MMU_TR
	bool "TR:   Task Register"
	help
	  Task Register.

if DEBUG_MMU_TR

config DEBUG_TR_STR
	bool "STR: Store Task Register"
	help
	  Store Task Register.

config DEBUG_TR_LTR
	bool "LTR: Load Task Register"
	select DEBUG_TR_STR
	help
	  Load Task Register.

endif # DEBUG_MMU_TR

config DEBUG_MMU_SEG_DESC
	bool "Segment Descriptor"
	help
	  Segment Descriptor

if DEBUG_MMU_SEG_DESC

choice
	prompt "Select specify segment selector"

config SEG_DESC_KERNEL_CS
	bool "CS: Kernel code segment selector"

config SEG_DESC_KERNEL_DS
	bool "DS: Kernel data segment selector"

config SEG_DESC_KERNEL_SS
	bool "SS: Kernel stack segment selector"

config SEG_DESC_USER_CS
	bool "CS: User code segment selector"

config SEG_DESC_USER_FS
	bool "FS: User data segment selector"

config SEG_DESC_USER_SS
	bool "SS: User stack segment selector"

config SEG_DESC_LDT
	bool "LDT: Local descriptor Table segment selector"

config SEG_DESC_TSS
	bool "TSS: Task Status segment selector"

endchoice

config DEBUG_SEG_DESC_COMMON
	bool "Common procedure to obtain a segment descriptor"
	help
	  Common procedure to obtain a segment descriptor.

comment "flags and field in segment descriptor"

config DEBUG_SEG_DESC_LIMIT
	bool "Segment limit field"
	select DEBUG_SEG_DESC_COMMON
	help
	  The limit field of segment.

config DEBUG_SEG_DESC_BASE
	bool "Base address field"
	select DEBUG_SEG_DESC_COMMON
	help
	  The base address field of segment.

config DEBUG_SEG_DESC_TYPE
	bool "Type field"
	select DEBUG_SEG_DESC_COMMON
	select DEBUG_SEG_DESC_S
	help
	  The type field of segment descriptor.

config DEBUG_SEG_DESC_S
	bool "S (Descriptor type) flag (bit 44)"
	select DEBUG_SEG_DESC_COMMON
	help
	  The descriptor type flag of segment.

config DEBUG_SEG_DESC_DPL
	bool "DPL (Descriptor Privilege Level) field"
	select DEBUG_SEG_DESC_COMMON
	help
	  Descriptor privilege level field.

config DEBUG_SEG_DESC_P
	bool "P (Descriptor-Present) flag (bit 47)"
	select DEBUG_SEG_DESC_COMMON
	help
	  Descriptor privilege level field.

config DEBUG_SEG_DESC_DB
	bool "D/B flag (bit 54)"
	select DEBUG_SEG_DESC_COMMON
	help
	  Default operation size.

config DEBUG_SEG_DESC_G
	bool "G (granularity) flag (bit 55)"
	select DEBUG_SEG_DESC_COMMON
	help
	  Granularity for segment limit.

config DEBUG_SEG_DESC_L
	bool "L (64-bit code segment) flag (bit 53)"
	select DEBUG_SEG_DESC_COMMON
	help
	  64-bit code segment.

endif # DEBUG_MMU_SEG_DESC

endif # DEBUG_MMU_SEGMENT

endmenu
