#
# System Call: phys
#

menu "phys        -- unknown system call --"

config DEBUG_SYSCALL_PHYS
	bool "phys(): -- unknown system call --"
	help
	  Debug phys system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_PHYS

config DEBUG_SYSCALL_PHYS0
	bool "System CALL: phys (linux0.11.1 MINIXFS)"
	help
	  Phys system call on linux0.11.1.

endif

endmenu
