#
# Segment mechanism on x86 architecture.
#
menu "Segment mechanism (Segment Access, Segmentation)"

config DEBUG_SEGMENT
        bool "Segment mechanism: Access different segment"
        help
	  Exchange data between different segment.

if DEBUG_SEGMENT

source tools/testcase/segment/fs/Kconfig

endif # End of DEBUG_BINARY


endmenu
