#
# Interrupt 8 - Double Fault Exception (#DF)
#
menu "Interrupt 8 - Double Fault Exception (#DF)"

config DEBUG_INTERRUPT8
        bool "Interrupt 8 - Double Fault Exception (#DF)"
        help
	  Indicates that the processor detected a second exception 
	  while calling an exception handler for a prior exception. 
	  Normally, when the processor detects another exception while
	  trying to call an exception handler, the two exceptions can
	  be handler serially. If, however, the processor cannot handle
	  them serially, it signals the double-fault exception. To
	  determine when two faults need to be signalled as a duble
	  fault, the processor divides the exceptions into three class.

if DEBUG_INTERRUPT8

config DEBUG_SOFT_INT8
	bool "Trigger #DF by soft-interrupt 'int $0x08'"
	help
	  Trigger #DF by soft interrupt 'int $0x8'

endif # End of DEBUG_INTERRUPT

endmenu
