#### Arch settings
config X86
	def_bool y

config OUTPUT_FORMAT
        string
        default "elf32-i386" if X86

source "init/Kconfig"

source "arch/x86/boot/Kconfig"

source "drivers/Kconfig"

source "tools/Kconfig"

source "fs/Kconfig"

source "mm/Kconfig"
