#
# Common System Call
#

menu "System CAll Mechanism"

config DEBUG_SYSCALL
	bool "Debug System CAll Mechanism on X86 Architecture"
	help
	  Debug System Call Machanism on X86 Architecture.

if DEBUG_SYSCALL

config DEBUG_SYSCALL_ROUTINE
	bool "System CAll common routine from IDT"
	help
	  The routine of system call on IDT, GDT and LDT.

config DEBUG_SYSCALL_STACK
	bool "Stack map on trigger system call"
	help
	  The stack map on trigger system call.

source tools/testcase/systemcall/open/Kconfig

source tools/testcase/systemcall/close/Kconfig

source tools/testcase/systemcall/read/Kconfig

source tools/testcase/systemcall/write/Kconfig

source tools/testcase/systemcall/dup/Kconfig

source tools/testcase/systemcall/fork/Kconfig

source tools/testcase/systemcall/execve/Kconfig

source tools/testcase/systemcall/creat/Kconfig

source tools/testcase/systemcall/link/Kconfig

endif

endmenu
