#
# Common System Call
#

menu "System CAll Machanism"

config DEBUG_SYSCALL
	bool "Debug System CAll Machanism on X86 Architecture"
	help
	  Debug System Call Machanism on X86 Architecture.

if DEBUG_SYSCALL

config DEBUG_SYSCALL_ROUTINE
	bool "System CAll common routine from IDT"
	help
	  The routine of system call on IDT, GDT and LDT.

endif

endmenu
