#
# EFLAGS: Current Status register of processor
#

menu "EFLAGS:   Current status register of processor"

config DEBUG_REGISTER_EFLAGS
	bool "EFLAGS: Current status register of processor"
	help
	  Debug EFLAGS Register.

if DEBUG_REGISTER_EFLAGS

config DEBUG_EFLAGS_LAHF
	bool "LAHF    Load Status Flags into AH Register"
	help
	  Obtain EFLAGS register via "LAHF" instrcution.

config DEBUG_EFLAGS_SAHF
	bool "SAHF    Store AH into EFLAGS register"
	help
	  Store AH into EFLAGS via "SAHF" instruction.

config DEBUG_EFLAGS_PUSHF
	bool "PUSHF   Push EFLAGS Register onto the Stack"
	help
	  Push EFLAGS register onto the stack.

config DEBUG_EFLAGS_POPF
	bool "POPF    Pop Stack into EFLAGS Register"
	help
	  Push value onto the EFLAGS register.

config DEBUG_EFLAGS_CF
	bool "CF      Carry flag (bit 0)"
	help
	  Carry flag - bit0.

if DEBUG_EFLAGS_CF

config DEBUG_CF_AAA
	bool "AAA     Carry on unpacked BCD"
	help
	  Carry on unpacked BCD via AAA instruction.

config DEBUG_CF_AAS
	bool "AAS     Borrow on unpacked BCD"
	help
	  Borrow on unpacked BCD via AAS instruction.

config DEBUG_CF_ADC
	bool "ADC     Addition with carry bit"
	help
	  Addition with carry via ADC instruction.

config DEBUG_CF_ADCX
	bool "ADCX    Addition of two operands with Carry flag"
	help
	  Unsigned integer addition of two operands with Carry flag

config DEBUG_CF_ADD
	bool "ADD     Carroy on addition"
	help
	  Debug ADD instruction for carrying on.

config DEBUG_CF_DAA
	bool "DAA     Decimal adjust AL after addition"
	help
	  Debug DAA instruction for carrying on.

config DEBUG_CF_DAS
	bool "DAS     Decimal adjust AL after subtraction"
	help
	  Debug DAS instruction for borrow from.

config DEBUG_CF_BT
	bool "BT      Test bit"
	help
	  CF will be set on bit is set.

config DEBUG_CF_BTC
	bool "BTC     Test bit and Complement special bit"
	help
	  CF will be set that bit is set and complement special bit.

config DEBUG_CF_BTR
	bool "BTR     Test bit and reset special bit"
	help
	  CF will be set that bit is set and reset special bit.

config DEBUG_CF_BTS
	bool "BTS     Test bit and set special bit"
	help
	  CF will be set that bit is set and set special bit. 

config DEBUG_CF_CLC
	bool "CLC     Clear Carry flag on EFLAGS register"
	help
	  Clears the CF flag in the EFLAGS register.

config DEBUG_CF_STC
	bool "STC     Set Carry flag on EFLAGS register"
	help
	  Set up the CF flag in the EFLAGS register.

config DEBUG_CF_MUL
	bool "MUL     Unsigned multiply"
	help
	  Unsigned multiply.

config DEBUG_CF_SUB
	bool "SUB     Integer subtraction"
	help
	  Subtraction.

config DEBUG_CF_SBB
	bool "SBB     Integer subtraction with borrow"
	help
	  Subtraction with borrow.

config DEBUG_CF_SHL
	bool "SHL     Shift logical left"
	help
	  Shift logical left.

config DEBUG_CF_SHR
	bool "SHR     Shift logical right"
	help
	  Shift logical right.

config DEBUG_CF_SAL
	bool "SAL     Shift arithmetic left"
	help
	  Shift arithmetic left.

config DEBUG_CF_SAR
	bool "SAR     Shift arithmetic right"
	help
	  Shift arithmetic right.

config DEBUG_CF_RCL
	bool "RCL     Rotate through carry left"
	help
	  Rotate through carry left.

config DEBUG_CF_RCR
	bool "RCR     Rotate through carry right"
	help
	  Rotate through carry right.

config DEBUG_CF_ROL
	bool "ROL     Rotate left"
	help
	  Rotate left.

config DEBUG_CF_ROR
	bool "ROR     Rotate right"
	help
	  Rotate right.

endif # DEBUG_EFLAGS_CF

config DEBUG_EFLAGS_PF
        bool "PF      Parity flag (bit 2)"
        help
          Parity flag - bit2.

if DEBUG_EFLAGS_PF

config DEBUG_PF_AAD
	bool "AAD     ASCII adjust AX before division"
	help
	  ASCII adjust AX before division.

config DEBUG_PF_AAM
	bool "AAM     ASCII adjust AX after multiply"
	help
	  ASCII adjust AX after multiply

config DEBUG_PF_ADC
	bool "ADC     Addition with carry bit"
	help
	  Addition with carry via ADC instruction.

config DEBUG_PF_ADD
	bool "ADD     Carroy on addition"
	help
	  Debug ADD instruction for carrying on.

config DEBUG_PF_AND
	bool "AND     Logical AND"
	help
	  Debug AND instruction for Parity Bit.

config DEBUG_PF_CMP
	bool "CMP     Compare two operands"
	help
	  Debug CMP instruction for Parity Bit.

config DEBUG_PF_CMPSB
	bool "CMPSB   Compare string operands in byte"
	help
	  Debug CMPSB instruction for Parity Bit.

config DEBUG_PF_CMPSW
	bool "CMPSW   Compare string operands in word"
	help
	  Debug CMPSW instruction for Parity Bit.

config DEBUG_PF_CMPSD
	bool "CMPSD   Compare string operands in double-word"
	help
	  Debug CMPSD instruction for Parity Bit.

config DEBUG_PF_DAA
	bool "DAA     Decimal adjust AL after addition"
	help
	  Debug DAA instruction for Parity Bit.

config DEBUG_PF_DAS
	bool "DAS     Decimal adjust AL after subtraction"
	help
	  Debug DAS instruction for Parity Bit.

config DEBUG_PF_DEC
	bool "DEC     Decrement by 1"
	help
	  Debug DEC instrcution for Parity Bit.

config DEBUG_PF_INC
	bool "INC     Increment by 1"
	help
	  Debug INC instruction for Parity Bit.

config DEBUG_PF_JP
	bool "JP      Jump short if parity"
	help
	  Debug JP instruction for Parity Bit.

config DEBUG_PF_JPE
	bool "JPE     Jump short if parity even (PF = 1)"
	help
	  Debug JPE instruction for Parity Bit.

config DEBUG_PF_JPO
	bool "JPO     Jump short if parity odd (PF = 0)"
	help
	  Debug JPO instruction for Parity Bit.

config DEBUG_PF_JNP
	bool "JNP     Jump short if not parity"
	help
	  Debug JNP instruction for Parity Bit.

config DEBUG_PF_NEG
	bool "NEG     Two's complement negation"
	help
	  Debug NEG instruction for Parity Bit.

config DEBUG_PF_OR
	bool "OR      Logical Inclusive OR"
	help
	  Debug OR instruction for Parity Bit.

config DEBUG_PF_SAL
	bool "SAL     Shift arithmetic left"
	help
	  Shift arithmetic left for Parity Bit.

config DEBUG_PF_SAR
	bool "SAR     Shift arithmetic right"
	help
	  Shift arithmetic right for Parity Bit.

config DEBUG_PF_SHR
	bool "SHR     Shift logical right"
	help
	  Shift logical right for Parity Bit.

config DEBUG_PF_SHL
	bool "SHL     Shift logical left"
	help
	  Shift logical left for Parity Bit.

config DEBUG_PF_SBB
	bool "SBB     Integer subtraction with borrow"
	help
	  Subtraction with borrow for Parity Bit.

config DEBUG_PF_SCASB
	bool "SCASB   Scan string in byte"
	help
	  Scanning string in byte for Parity Bit.

config DEBUG_PF_SCASW
	bool "SCASW   Scan string in word"
	help
	  Scanning string in word for Parity Bit.

config DEBUG_PF_SUB
	bool "SUB     Subtract"
	help
	  Subtract for Parity Bit.

config DEBUG_PF_TEST
	bool "TEST    Logical Compare"
	help
	  Logical compare for Parity Bit.

endif # DEBUG_EFLAGS_PF

endif # DEBUG_REGISTER_EFLAGS

endmenu
