#
# Interrupt 46 - Hard-Disk interrupt
#
menu "Interrupt 46 - Hard-Disk interrupt"

config DEBUG_INTERRUPT46
        bool "Interrupt 46 - Hard-Disk interrupt"
        help
	  Indicates that an Hard-Disk interrupt to be generated.

if DEBUG_INTERRUPT46

config DEBUG_SOFT_INT46
	bool "Trigger Hard-Disk interrupt by soft-interrupt 'int $0x2E'"
	help
	  Trigger Hard-Disk interrupt by soft interrupt 'int $0x2E'

endif # End of DEBUG_INTERRUPT

endmenu
