#
# Memeory Manager Unit
#

menu "MMU(Memory Manager Unit) on X86 Architecture"

config DEBUG_MMU
	bool "Debug MMU(Memory Manager Unit) machanism on X86 Architecture"
	help
	  Debug Memory Manager Unit(MMU).

if DEBUG_MMU

# Memory allocator
source "tools/testcase/mmu/allocator/Kconfig"

# Data Storage
source "tools/testcase/mmu/storage/Kconfig"

endif

endmenu
