#
# System Call: lseek
#

menu "lseek       reposition read/write file offset"

config DEBUG_SYSCALL_LSEEK
	bool "lseek(): reposition read/write file offset"
	help
	  Debug lseek system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_LSEEK

config DEBUG_SYSCALL_LSEEK0
	bool "System CALL: lseek (linux0.11.1 MINIXFS)"
	help
	  Lseek system call on linux0.11.1.

endif

endmenu
