#
# Interrupt 13 - General Protection Exception (#GP)
#
menu "Interrupt 13 - General Protection Exception (#GP)"

config DEBUG_INTERRUPT13
        bool "Interrupt 13 - General Protection Exception (#GP)"
        help
	  Indicates that the processor detector one of a class of 
	  protection violations called `general-protection violations`.
	  The conditions that cause this exception to be generated
	  comprise all the protection violations that do not cause
	  other exception to be generated (such as, invalid-TSS, 
	  segment-not-present, stack-fault, or page-fault exceptions).

if DEBUG_INTERRUPT13

config DEBUG_SOFT_INT13
	bool "Trigger #GP by soft-interrupt 'int $0x0D'"
	help
	  Trigger #GP by soft interrupt 'int $0xD'

endif # End of DEBUG_INTERRUPT

endmenu
