#
# Debug block device driver
#
menu "Block device driver: HD, Floppy, Ramdisk etc"

config DEBUG_BLOCK_DEV
        bool "Debug block device driver mechanism"
        help
          Debug block device driver on X86

if DEBUG_BLOCK_DEV

source tools/testcase/block/hard-disk/Kconfig

source tools/testcase/block/CHS/Kconfig

source tools/testcase/block/partition/Kconfig

endif # End of DEBUG_BLOCK_DEV

endmenu
