#
# Interrupt 2 - NMI Interrupt
#
menu "Interrupt 2 - Non-Maskable Interrupt (NMI)"

config DEBUG_INTERRUPT2
        bool "Interrupt 2 - Non-Maskable Interrupt (NMI)"
        help
	  In computing, a non-maskable interrupt (NMI) is a hardware 
	  interrupt that standard interrupt-masking techniques in the 
	  system cannot ignore. It typically occurs to signal attention 
	  for non-recoverable hardware errors. (Some NMIs may be masked, 
	  but only by using proprietary methods specific to the particular
	  NMI.)

if DEBUG_INTERRUPT2

config DEBUG_SOFT_INT2
	bool "Trigger NMI by soft-interrupt 'int $0x02'"
	help
	  Trigger NMI by soft interrupt 'int $0x2'

endif # End of DEBUG_INTERRUPT

endmenu
