#
# System Call: geteuid
#

menu "geteuid     get the effective user ID"

config DEBUG_SYSCALL_GETEUID
	bool "geteuid(): get the effective user ID"
	help
	  Debug geteuid system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_GETEUID

config DEBUG_SYSCALL_GETEUID0
	bool "System CALL: geteuid (linux0.11.1 MINIXFS)"
	help
	  Geteuid system call on linux0.11.1.

endif

endmenu
