#
# Debug VFS machanism on X86 architecture
#
menu "VFS Machanism on X86 Architecture"

config DEBUG_VFS
        bool "Debug VFS Machanism on X86 Architecture"
        help
          A virtual file system (VFS) or virtual filesystem switch is 
          an abstraction layer on top of a more concrete file system. 
          The purpose of a VFS is to allow client applications to access
          different types of concrete file systems in a uniform way. 
          A VFS can, for example, be used to access local and network
          storage devices transparently without the client application
          noticing the difference.

if DEBUG_VFS


source tools/testcase/vfs/buffer/Kconfig

endif # End of DEBUG_INTERRUPT

endmenu
