#
# System Call: setsid
#

menu "setsid      creates a session and sets the process group ID"

config DEBUG_SYSCALL_SETSID
	bool "setsid(): creates a session and sets the process group ID"
	help
	  Debug setsid system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_SETSID

config DEBUG_SYSCALL_SETSID0
	bool "System CALL: setsid (linux0.11.1 MINIXFS)"
	help
	  Setsid system call on linux0.11.1.

endif

endmenu
