#
# Common Timer
#

menu "Timer and CMOS clock"

config TESTCASE_TIMER
	bool "Test Timer and CMOS clock"
	help
	  Timer and Timer Interrupt -- CMOS clock

if TESTCASE_TIMER

config TESTCASE_CMOS_CLK
	bool "CMOS Clock"
	help
	  Debug CMOS Clock.

config TESTCASE_8253
	bool "Intel 8253 Timer"
	help
	  Debug Intel 8253 Timer

endif

endmenu
