#
# System Call: ptrace
#

menu "ptrace      process trace"

config DEBUG_SYSCALL_PTRACE
	bool "ptrace(): process trace"
	help
	  Debug ptrace system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_PTRACE

config DEBUG_SYSCALL_PTRACE0
	bool "System CALL: ptrace (linux0.11.1 MINIXFS)"
	help
	  Ptrace system call on linux0.11.1.

endif

endmenu
