#
# Debug tools configuration
# 

menu "TestCase configuration"

config TESTCASE
	bool "Testcase for kernel function"
	help
	  Test basic kernel function on specify envirnoment

if TESTCASE

choice 
	prompt "Specify debug stage"
	default DEBUG_KERNEL_LATER

config DEBUG_KERNEL_EARLY
	bool "Debug on kernel early stage"
	help
	  Debug funtion on kernel early stage. After jump into main()

config DEBUG_KERNEL_LATER
	bool "Debug on kernel later stage"
	help
	  Debug function on kernel later stage. Before invoke init()

config DEBUG_USERLAND_EARLY
        bool "Debug on userland early"
	help
	  Debug function on launch userland early.

config DEBUG_USERLAND_SHELL
	bool "Debug on userland shell"
	help
	  Debug function on CPU idle on shell.

endchoice


source "tools/testcase/interrupt/Kconfig"

source "tools/testcase/harddisk/Kconfig"

source "tools/testcase/assembly/Kconfig"

source "tools/testcase/scheduler/Kconfig"

source "tools/testcase/mmu/Kconfig"

source "tools/testcase/timer/Kconfig"

source "tools/testcase/ioports/Kconfig"

source "tools/testcase/systemcall/Kconfig"

endif

endmenu

