#
# Debug tools configuration
# 

menu "TestCase configuration"

config TESTCASE
	bool "Testcase for kernel function"
	select DEBUG_DEBUGCALL
	help
	  Test basic kernel function on specify envirnoment

if TESTCASE

config DEBUG_DEBUGCALL
	bool "Debug call in different stage."
	help
	  Debug call in different stage. see include/test/init.h

source "tools/testcase/interrupt/Kconfig"

source "tools/testcase/block/Kconfig"

source "tools/testcase/assembly/Kconfig"

source "tools/testcase/scheduler/Kconfig"

source "tools/testcase/mmu/Kconfig"

source "tools/testcase/timer/Kconfig"

source "tools/testcase/ioports/Kconfig"

source "tools/testcase/systemcall/Kconfig"

source "tools/testcase/vfs/Kconfig"

source "tools/testcase/binary/Kconfig"

source "tools/testcase/segment/Kconfig"

endif

endmenu

