#
# Debug Filesystem Buffer machanism on VFS
#
menu "Filesystem Buffer Machanism on VFS"

config DEBUG_VFS_BUFFER
        bool "Debug Filesystem Buffer Machanism on VFS"
        help
	  Filesystem buffer on VFS.

if DEBUG_VFS_BUFFER

config DEBUG_BUFFER_FREELIST
	bool "Debug free list of buffer head on Buffer"
	help
	  Debug free_list structure of buffer_head on Buffer.

endif # End of DEBUG_INTERRUPT

endmenu
