#
# Filesystem Buffer: 
#

menu "Buffer:   Virtual Filesystem Buffer"

config DEBUG_BUFFER
	bool "Virtual Filesystem Data Buffer"
	help
	  Data buffer (or just buffer) is a region of a physical 
	  memory storage used to temporarily store data while it 
	  is being moved from one place to another.

if DEBUG_BUFFER

config DEBUG_BUFFER_INIT
	bool "Initialize VFS Buffer, establish free_list"
	help
	  Initialize VFS buffer.

endif

endmenu
