#
# Assembly and inline assembly
#

menu "Assembly and inline Assembly"

config TESTCASE_ASSEMBLY
	bool "Test assembly or inline assembly"
	help
	  Test assembly or inline assembly on kernel space.

endmenu
