#
# System Call: getuid
#

menu "getuid      get a real user ID"

config DEBUG_SYSCALL_GETUID
	bool "getuid(): get a real user ID"
	help
	  Debug getuid system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_GETUID

config DEBUG_SYSCALL_GETUID0
	bool "System CALL: getuid (linux0.11.1 MINIXFS)"
	help
	  Getuid system call on linux0.11.1.

endif

endmenu
