#
# Name to Inode
#
menu "Namei: name to special inode"

config DEBUG_VFS_NAMEI
        bool "namei: cover name to inode"
        help

if DEBUG_VFS_NAMEI

config DEBUG_NAMEI_FROM_USER
	bool "Obtian name string from userland."
	help
	  Obtain data from userland.

config DEBUG_INODE_LOOKUP
	bool "Lookup inode with special name"
	help
	  Lookup inode with special name.

config DEBUG_LOOKUP_SPECIAL
	bool "Lookup inode in special rootfs"
	select DEBUG_INODE_LOOKUP
	help
	  Lookup inode in special rootfs.

endif

endmenu
