#
# Name to Inode
#
menu "Namei: name to special inode"

config DEBUG_VFS_NAMEI
        bool "namei: cover name to inode"
        help

if DEBUG_VFS_NAMEI

config DEBUG_NAMEI_FROM_USER
	bool "Obtian and verify name string from userland."
	help
	  Obtain data from userland.

config DEBUG_INODE_LOOKUP
	bool "Lookup inode with special name"
	help
	  Lookup inode with special name.

config DEBUG_INODE_LOOKUP_ROOTFS
	bool "Lookup inode in special rootfs"
	select DEBUG_INODE_LOOKUP
	help
	  Lookup inode in special rootfs.

config DEBUG_OPEN_NAMEI
	bool "Obtain inode while open_namei() routine."
	help
	  Debug main routinue for open_namei().

config DEBUG_INODE_SYMLINK
	bool "Verify symlink for inode"
	help
	  Verify symlink for inode.

config DEBUG_INODE_SYMLINK_ROOTFS
	bool "Verify symlink on special rootfs"
	help
	  Verify symlink for inode on special rootfs.

endif

endmenu
