#
# Interrupt 32 - Timer Interrupt
#
menu "Interrupt 32 - Timer Interrupt"

config DEBUG_INTERRUPT32
        bool "Interrupt 32 - Timer Interrupt"
        help
	  Indicates timeout for Timer.

if DEBUG_INTERRUPT32

config DEBUG_SOFT_INT32
	bool "Trigger Timer Interrupt by soft-interrupt 'int $0x20'"
	help
	  Trigger Timer Interrupt by soft interrupt 'int $0x20'

endif # End of DEBUG_INTERRUPT

endmenu
