#
# LDTR: Local Descriptor Table Register (LDTR)
#

menu "LDTR:     Local Descriptor Table Register"

config DEBUG_REGISTER_LDTR
	bool "LDTR: Local Descriptor table regsiter"
	help
	  Debug LDTR Register.

if DEBUG_REGISTER_LDTR

config DEBUG_LDTR_SLDT
	bool "SLDT: Store Local Descriptor Table Register"
	help
	  Store LDTR into linear address.

config DEBUG_LDTR_LLDT
	bool "LLDT: Load  Local Descriptor Table Register"
	help
	  Load linear address into LDTR.

endif

endmenu
