#
# System Call: setregid
#

menu "setregid    Set the numerical group id"

config DEBUG_SYSCALL_SETREGID
	bool "setgreid(): Set the numerical group id"
	help
	  Debug setregid system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_SETREGID

config DEBUG_SYSCALL_SETREGID0
	bool "System CALL: setregid (linux0.11.1 MINIXFS)"
	help
	  Setregid system call on linux0.11.1.

endif

endmenu
