#
# System Call: fork
#

menu "fork(): create a new process"

config DEBUG_SYSCALL_FORK
	bool "dup(): create a new process"
	help
	  Debug fork system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_FORK

config DEBUG_SYSCALL_FORK0
	bool "System CALL: fork (linux0.11.1 MINIXFS)"
	help
	  Fork system call on linux0.11.1.

endif

endmenu
