#
# System Call: link
#

menu "link        create a symbolic link or a hard link to an existing file"

config DEBUG_SYSCALL_LINK
	bool "link() : create a symbolic link or a hard link to an file"
	help
	  Debug link system Call Machanism on X86 Architecture.

if DEBUG_SYSCALL_LINK

config DEBUG_SYSCALL_LINK0
	bool "System CALL: link (linux0.11.1 MINIXFS)"
	help
	  Link system call on linux0.11.1.

endif

endmenu
