#
# Interrupt 4 - Overflow Exception (#OF)
#
menu "Interrupt 4 - Overflow Exception (#OF)"

config DEBUG_INTERRUPT4
        bool "Interrupt 4 - Overflow Exception (#OF)"
        help
	  Indicates that an overflow trap occurred when an INTO 
	  instruction was executed. The INTO instruction checks 
	  the state of the OF flag in the EFLAGS register. If 
	  the OF flag is set, an overflow trap is generated.

if DEBUG_INTERRUPT4

config DEBUG_SOFT_INT4
	bool "Trigger #OF by soft-interrupt 'int $0x04'"
	help
	  Trigger #OF by soft interrupt 'int $0x4'

config DEBUG_INT4_INTO
	bool "Tirgger #OF by invoke INTO"
	help
	  Some arithmetic instructions (such as the ADD and SUB) 
	  perform both signed and unsigned signed arithmetic. These 
	  instructions set the OF and CF flags in the EFLAGS register
	  to indicate signed overflow and unsigned overflow, 
	  respectively. When performing arithmetic on signed operands,
 	  the OF flag can be tested directly or the INTO instruction
	  can be used. The benefit of using the INTO instruction is 
	  that if the overflow exception is detected, an exception 
	  handler can be called automatically to handler the overflow
	  condition.

endif # End of DEBUG_INTERRUPT

endmenu
