#
# The Segmentation Mechanism on X86
#

menu "The Segmentation Mechanism on X86 Architecture."

config DEBUG_MMU_SEGMENTATION
	bool "Debug Segmentation mechanism on X86 Architecture"
	help
	  Debug Segmentation mechanism on X86 Architecture.

if DEBUG_MMU_SEGMENTATION


endif

endmenu
