menu "Privilege levels Check: CPL, DPL, and RPL"

config DEBUG_PL_CHECK
	bool "Privilege levels check mechanism"
	help
	  The checking mechanism of privilegel levels.

if DEBUG_PL_CHECK

choice
        prompt "Select specify segment selector"

config SEG_CHECK_KERNEL_CS
        bool "CS: Kernel code segment selector"

config SEG_CHECK_KERNEL_DS
        bool "DS: Kernel data segment selector"

config SEG_CHECK_KERNEL_SS
        bool "SS: Kernel stack segment selector"

config SEG_CHECK_USER_CS
        bool "CS: User code segment selector"

config SEG_CHECK_USER_FS
        bool "FS: User data segment selector"

config SEG_CHECK_USER_SS
        bool "SS: User stack segment selector"

config SEG_CHECK_LDT
        bool "LDT: Local descriptor Table segment selector"

config SEG_CHECK_TSS
        bool "TSS: Task Status segment selector"

endchoice

config DEBUG_MMU_PL_CPL
	bool "CPL: Current Privilege level"
	help
	  CPL: Current privilege level.

config DEBUG_MMU_PL_DPL
	bool "DPL: Descriptor Privilege level"
	help
	  DPL: Descriptor Privilege level.

config DEBUG_MMU_PL_RPL
	bool "RPL: Requested Privilege level"
	help
	  PRL: Requested Privilege level.

config DEBUG_PL_DATA
	bool "Privilege checking when accessing data segment"
	select DEBUG_PL_DATA_ESTABLISH
	help
	  Privilege checking when accessing data segment.

if DEBUG_PL_DATA

config DEBUG_PL_DATA_ESTABLISH
	bool "Extablish a specify segment selector and segment descriptor"
	help
	  Extablish a specify segment selector and segment descriptor.

config DEBUG_PL_DATA_C0
	bool "CPL == RPL == DPL"
	help
	  CPL == DPL == RPL.

if DEBUG_PL_DATA_C0

config DEBUG_PL_DATA_C0_P0
	bool "CPL == RPL == DPL == 0"
	help
	  CPL == DPL == RPL == 0

config DEBUG_PL_DATA_C0_P1
	bool "CPL == RPL == DPL == 1"
	help
	  CPL == DPL == RPL == 1

config DEBUG_PL_DATA_C0_P2
	bool "CPL == RPL == DPL == 2"
	help
	  CPL == DPL == RPL == 2

config DEBUG_PL_DATA_C0_P3
	bool "CPL == RPL == DPL == 3"
	help
	  CPL == DPL == RPL == 3

endif # DEBUG_PL_DATA_C0

endif # DEBUG_PL_DATA

endif # DEBUG_PL_CHECK

endmenu
