#
# Testcase for IDT
#
menu "Interrupt Descriptor Table"

comment "Debug IDT on Kernel space"

config TESTCASE_IDT
	default n
        bool "Test Interrupt Descriptor Table"
        help
          Utilize software interrupt 'int x' or specify case
          to test interrupt function.

if TESTCASE_IDT

choice
	prompt "Choose one specify interrupt"
	default TESTCASE_IDT0

config TESTCASE_IDTNULL
	bool "Interrupt null"
	help
	  Empty interrupt

config TESTCASE_IDT0
	bool "Interrupt 0: divide error"
	help
	  Trigger interrupt 0: divide error

config TESTCASE_IDT1
	bool "Interrupt 1: debug"
	help
	  Trigger interrupt 1: debug

config TESTCASE_IDT2
	bool "Interrupt 2: NMI"
	help
	  Trigger interrupt 2: NMI

config TESTCASE_IDT3
	bool "Interrupt 3: breakpoint"
	help
	  Trigger interrupt 3: Breakpoint

config TESTCASE_IDT4
	bool "Interrupt 4: overflow"
	help
	  Trigger interrupt 4: Overflow

config TESTCASE_IDT5
	bool "Interrupt 5: bound error"
	help
	  Trigger interrupt 5: Bound error

config TESTCASE_IDT6
	bool "Interrupt 6: invalid operand"
	help
	  Trigger interrupt 6: Invalid operand

config TESTCASE_IDT7
	bool "Interrupt 7: device not available"
	help
	  Trigger interrupt 7: device not avaiable

config TESTCASE_IDT8
	bool "Interrupt 8: double fault"
	help
	  Trigger interrupt 8: double fault

config TESTCASE_IDT9
	bool "Interrupt 9: oprocessor segment overrun"
	help
	  Trigger interrupt 9: Coprocessor segment overrun

config TESTCASE_IDT10
	bool "Interrupt 10: invalid TSS segment"
	help
	  Trigger interrupt 10: invalid TSS segment

config TESTCASE_IDT11
	bool "Interrupt 11: Segment not present"
	help
	  Trigger interrupt 11: Segment not present

config TESTCASE_IDT12
	bool "Interrupt 12: Stack segment"
	help
	  Trigger interrupt 12: Stack segment

config TESTCASE_IDT13
	bool "Interrupt 13: General protection"
	help
	  Trigger interrupt 13: General protection

config TESTCASE_IDT14
	bool "Interrupt 14: page fault"
	help
	  Trigger interrupt 14: page fault

config TESTCASE_IDT15
	bool "Interrupt 15: Intel reserved"
	help
	  Trigger interrupt 15: Intel reserved

config TESTCASE_IDT16
	bool "Interrupt 16: Coprocessor error"
	help
	  Trigger interrupt 16: Coprocessor error

config TESTCASE_IDT17
	bool "Interrupt 17: Intel Reserved"
	help
	  Trigger interrupt 17: Intel Reserved

config TESTCASE_IDT32
	bool "Interrupt 32: Timer interrupt"
	help
	  Trigger interrupt 32: Timer interrupt

config TESTCASE_IDT39
	bool "Interrupt 39: parallel interrupt"
	help
	  Trigger interrupt 39: parallel interrupt

config TESTCASE_IDT45
	bool "Interrupt 45: irq13"
	help
	  Trigger interrupt 45: irq13

config TESTCASE_IDT46
	bool "Interrupt 46: hard disk interrupt"
	help
	  Trigger interrupt 46: hard disk interrupt

config TESTCASE_IDT128
	bool "Interrupt 128: system call"
	help
	  Trigger interrupt 128: system call

endchoice  # Only choice one

endif # End of TESTCASE_IDT

endmenu
