#
# Debug interrupt machanism on X86 architecture
#
menu "Interrupt Machanism on X86 Architecture"

config DEBUG_INTERRUPT
	depends on X86
        bool "Debug Interrupt Machanism on X86 Architecture"
        help
	  In system programming, an interrupt is a signal to the processor
	  emitted by hardware or software indicating an event that needs
	  immediate attention. An interrupt alerts the processor to a 
	  high-priority condition requiring the interruption of the current
	  code the processor is executing. The processor responds by 
	  suspending its current activities, saving its state, and executing
	  a function called an interrupt handler (or an interrupt service
	  routine, ISR) to deal with the event.

if DEBUG_INTERRUPT

config DEBUG_IDT
	bool "Interrupt Descriptors Table (IDT)"
	help 
	  The Interrupt Descriptor Table (IDT) is a data structure used 
	  by the x86 architecture to implement an interrupt vector table. 
	  The IDT is used by the processor to determine the correct response
	  to interrupts and exceptions.

config DEBUG_INT_USAGE
	bool "Establish and Trigger an interrupt or exception"
	help
	  The usage of establishing an interrupt or a exception that
	  contains interrupt descriptor on IDT and interrupt- or
	  exception-handler. And then trigger specific interrupt or
	  exception.


source tools/testcase/interrupt/interrupt0/Kconfig

source tools/testcase/interrupt/interrupt1/Kconfig

source tools/testcase/interrupt/interrupt2/Kconfig

source tools/testcase/interrupt/interrupt3/Kconfig

source tools/testcase/interrupt/interrupt4/Kconfig

source tools/testcase/interrupt/interrupt5/Kconfig

source tools/testcase/interrupt/interrupt6/Kconfig

source tools/testcase/interrupt/interrupt7/Kconfig

source tools/testcase/interrupt/interrupt8/Kconfig

source tools/testcase/interrupt/interrupt9/Kconfig

source tools/testcase/interrupt/interrupt10/Kconfig

source tools/testcase/interrupt/interrupt11/Kconfig

source tools/testcase/interrupt/interrupt12/Kconfig

source tools/testcase/interrupt/interrupt13/Kconfig

source tools/testcase/interrupt/interrupt14/Kconfig

source tools/testcase/interrupt/interrupt16/Kconfig

source tools/testcase/interrupt/interrupt32/Kconfig

source tools/testcase/interrupt/interrupt39/Kconfig

source tools/testcase/interrupt/interrupt45/Kconfig

source tools/testcase/interrupt/interrupt46/Kconfig

source tools/testcase/interrupt/interrupt128/Kconfig

endif # End of DEBUG_INTERRUPT

endmenu
