#
# Access Right Machanism on MMU
#

menu "Paging Access Right Mechanism on MMU"

config DEBUG_MMU_ACCESS
	bool "Debug Paging Access Right mechanism on MMU"
	help
	  Debug Paging Access Right Mechanism on MMU.

if DEBUG_MMU_ACCESS

config DEBUG_ACCESS_RIGHT
	bool "Debug Address Access Right on Paging"
	help
	  Debug Address Access Right on Paging.

endif

endmenu
