#
# Simulate X86 Architecuture
#
menu "boot option"

config BOOTLOADER
	bool "Simulate bootloader for X86 Architecture"
	default y
	help
	  Simulate bootloader to load system image into
	  ram on X86 Architecture.

if BOOTLOADER

config DEBUG_BOOTLOADER
	bool "debug bootloade utilize gdb"
	help
	  Debug bootloader with gdb

config BOOT_LOGO
	string "Logo message"
	default "Loading BiscuitOS"
	help
	  Output logo information on bootloader.

config BOOT_INITSEG
	hex "INITSEG load address"
	default 0x9000
	help
	  Setup load address for INIT segment.

config BOOT_SYSSEG
	hex "SYSSEG load address"
	default 0x1000
	help
	  Setup load address for SYSTEM segment.

config BOOT_SETUPSEG
	hex "SETUPSEG load address"
	default 0x9020
	help
	  Setup load address for SETUP segment.

config SYSTEM_SIZE
	hex "System image size"
	default 0x8000
	help
	  Setup system image size.

config ROOT_DEV
	hex "Root-device partition number"
	default 0x301
	help
	  Setup Root-device partition number. (default 0x301,
	  First hard-disk partition)

config SWAP_DEV
	hex "SWAP-device partition number"
	default 0x302
	help
	  Setup SWAP-device partition number. (default 0x302,
	  Second hard-disk partition)

endif

config KERNEL_CS
	hex "Kernel code segment selector"
	default 0x10
	help
	  In computing, a code segment, also known as a text 
	  segment or simply as text, is a portion of an object
	  file or the corresponding section of the program's 
	  virtual address space that contains executable 
	  instructions. The term "segment" comes from the memory 
	  segment, which is a historical approach to memory 
	  management that has been succeeded by paging. 
	  KERNEL_CS used to store kernel code segment selector.

config KERNEL_DS
	hex "Kernel data segment selector"
	default 0x18
	help
	  In computing, a data segment (often denoted .data) 
	  is a portion of an object file or the corresponding 
	  virtual address space of a program that contains 
	  initialized static variables, that is, global variables
	  and static local variables. The size of this segment is
	  determined by the size of the values in the program's 
	  source code, and does not change at run time. KERNEL_DS
	  is used to specil data segment selector.

config USER_CS
        hex "Userland code segment selector"
        default 0x23
        help
          In computing, a code segment, also known as a text
          segment or simply as text, is a portion of an object
          file or the corresponding section of the program's
          virtual address space that contains executable
          instructions. The term "segment" comes from the memory
          segment, which is a historical approach to memory
          management that has been succeeded by paging.
          USER_CS used to store user code segment selector.

config USER_DS
        hex "Userland data segment selector"
        default 0x2B
        help
          In computing, a data segment (often denoted .data)
          is a portion of an object file or the corresponding
          virtual address space of a program that contains
          initialized static variables, that is, global variables
          and static local variables. The size of this segment is
          determined by the size of the values in the program's
          source code, and does not change at run time. USER_DS
          is used to specil data segment selector.

endmenu # "General setup"
