#
# POSIX: write
#

menu "write       Write data to a file/directory/socket/pipe etc"

config DEBUG_POSIX_WRITE
	bool "write(): Write data to a file/directory/socket/pipe etc"
	help
	  Debug Write system Call Mechanism on X86 Architecture.

if DEBUG_POSIX_WRITE

config DEBUG_WRITE_ORIG
	bool "write(): original write data into file"
	help
	  Debug original write().

config DEBUG_WRITE_ROOTFS
	bool "write(): write operation on speical rootfs"
	help
	  Write on special rootfs.

endif

endmenu
