#
# PROC
#

menu "procfs (proc filesystem)"

config FS_PROC
	bool "The proc filesystem (procfs)"
	help
	  The proc filesystem (procfs) is a special filesystem in
	  Unix-like operating systems that presents information 
	  about processes and other system information in a 
	  hierarchical file-like structure, providing a more 
	  convenient and standardized method for dynamically 
	  accessing process data held in the kernel than traditional
	  tracing methods or direct access to kernel memory. 
	  Typically, it is mapped to a mount point named /proc 
	  at boot time. The proc file system acts as an interface
	  to internal data structures in the kernel. It can be used
	  to obtain information about the system and to change 
	  certain kernel parameters at runtime (sysctl).

endmenu # "File systems"
