#
# Kernel hacking configure
#

menu "kernel hacking"

config DEBUG_KERNEL
	bool "Debug/Running kernel"
	help
	  Utilize mainstream debug tools to debug kernel or
	  Running kernel with emulater tools.

if DEBUG_KERNEL

source "tools/debug/Kconfig"

source "tools/demo/Kconfig"

endif

endmenu
