#
# Paging Mechanism on X86 Architecture
#

menu "Paging Mechanism on X86 Architecture"

config DEBUG_MMU_PAGING
	bool "Debug Paging mechanism on X86 Architecture."
	help
	  Debug Paging mechanism on X86 Architecture.

if DEBUG_MMU_PAGING

config DEBUG_PAGING_INIT
	bool "Initialize paging table."
	help
	  Initialize paging table..

endif

endmenu
