menu "Paging mechanism"

config DEBUG_MMU_PAGING
	bool "X86 Paging mechanism"
	help
	  X86 architecture paging mechanism.

if DEBUG_MMU_PAGING

config DEBUG_PAGING_MODE
	bool "Paging modes"
	help
	  Paging modes

if DEBUG_PAGING_MODE

config DEBUG_PAGING_MODE_DETECT
	bool "Detect Paging modes"
	help
	  Detect Paging modes.

endif # DEBUG_PAGING_MODE

endif # DEBUG_MMU_PAGING


endmenu
