#
# System Call: access
#

menu "access      determine accessibility of a file"

config DEBUG_SYSCALL_ACCESS
	bool "access(): determine accessibility of a file"
	help
	  Debug access system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_ACCESS

config DEBUG_SYSCALL_ACCESS0
	bool "System CALL: access (linux0.11.1 MINIXFS)"
	help
	  Access system call on linux0.11.1.

endif

endmenu
