#
# System Call: setgid
#

menu "setgid      Set the numerical group id"

config DEBUG_SYSCALL_SETGID
	bool "setgid(): Set the numerical group id"
	help
	  Debug setgid system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_SETGID

config DEBUG_SYSCALL_SETGID0
	bool "System CALL: setgid (linux0.11.1 MINIXFS)"
	help
	  Setgid system call on linux0.11.1.

endif

endmenu
