CONFIG_X86=y
CONFIG_OUTPUT_FORMAT="elf32-i386"
CONFIG_CROSS_COMPILE=""
CONFIG_LOCALVERSION=""
CONFIG_BOOT_KERNEL_DELAY=0
CONFIG_BOOTLOADER=y
CONFIG_DEBUG_BOOTLOADER=y
CONFIG_BOOT_LOGO="Loading BiscuitOS"
CONFIG_BOOT_INITSEG=0x9000
CONFIG_BOOT_SYSSEG=0x1000
CONFIG_BOOT_SETUPSEG=0x9020
CONFIG_SYSTEM_SIZE=0x8000
CONFIG_ROOT_DEV=0x301
CONFIG_SWAP_DEV=0x302
CONFIG_KERNEL_CS=0x10
CONFIG_KERNEL_DS=0x18
CONFIG_USER_CS=0x23
CONFIG_USER_DS=0x2B
CONFIG_HARDDISK=y
CONFIG_DEBUG_KERNEL=y
CONFIG_GDB=y
CONFIG_EMULATE_RUNNING_SYSTEM=y
CONFIG_QEMU=y
CONFIG_QEMU_BOOT_BIOS=y
CONFIG_QEMU_BOOT_BIOS_NAME="SeaBIOS.bin"
CONFIG_QEMU_BOOT_FLOPPY=y
CONFIG_QEMU_MEMORY_SIZE=32
CONFIG_QEMU_VGA=y
CONFIG_QEMU_ROOTFS_NAME="BiscuitOS.img"
CONFIG_QEMU_VGA_CIRRUS=y
CONFIG_DEMO_CODE=y
CONFIG_DEBUG_DEBUGCALL=y
CONFIG_DEBUG_MMU=y
CONFIG_DEBUG_ADDRESSING=y
CONFIG_DEBUG_MMU_VA=y
CONFIG_DEBUG_VA_KERN_LEG=y
CONFIG_EXT2_FS=y
CONFIG_MMU=y
CONFIG_MEMORY_SIZE=32
