CONFIG_DEBUG_BOOTLOADER=y
CONFIG_HARDDISK=y
CONFIG_DEBUG_KERNEL=y
CONFIG_GDB=y
CONFIG_EMULATE_RUNNING_SYSTEM=y
CONFIG_QEMU_BOOT_BIOS=y
CONFIG_QEMU_BOOT_BIOS_NAME="SeaBIOS.bin"
CONFIG_QEMU_BOOT_FLOPPY=y
CONFIG_QEMU_MEMORY_SIZE=32
CONFIG_QEMU_VGA=y
CONFIG_QEMU_ROOTFS_NAME="BiscuitOS-minix_V1-1.0.1.2.img"
CONFIG_QEMU_VGA_CIRRUS=y
CONFIG_DEMO_CODE=y
CONFIG_DEBUG_VFS=y
CONFIG_DEBUG_VFS_EXT2=y
CONFIG_MINIX_FS=y
CONFIG_MMU=y
