#
# Data segment: FS
#
menu "FS Segment(Common Data Segment)"


config DEBUG_SEGMENT_FS
	bool "Exchange data between kernel and userland via FS segment"
	help
	  Exchange data between kernel and userland via FS segment

config DEBUG_SEGMENT_OBTAIN_USERLAND
	select DEBUG_SEGMENT_FS
	bool "Copy data from userland space to kernel space"
	help
	  Obtain data from userland space.

config DEBUG_SEGMENT_PUSH_KERNEL
	select DEBUG_SEGMENT_FS
	bool "Copy data from kernel space to userland space"
	help
	  Copy data to userland space.

endmenu
