#
# System Call: ulimit
#

menu "ulimit      get and set process limits"

config DEBUG_SYSCALL_ULIMIT
	bool "ulimit(): get and set process limits"
	help
	  Debug ftime system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_ULIMIT

config DEBUG_SYSCALL_ULIMIT0
	bool "System CALL: ulimit (linux0.11.1 MINIXFS)"
	help
	  Ulimit system call on linux0.11.1.

endif

endmenu
