#
# Interrupt 14 - Page-Fault Exception (#PF)
#
menu "Interrupt 14 - Page-Fault Exception (#PF)"

config DEBUG_INTERRUPT14
        bool "Interrupt 14 - Page-Fault Exception (#PF)"
        help
	  Indicates that, with paging enable (the PG flag in the CR0
	  register is set), the processor detected one of the following
	  conditions while using the page-translation mechanism to
	  translate a linear address to a physical address

if DEBUG_INTERRUPT14

config DEBUG_SOFT_INT14
	bool "Trigger #PF by soft-interrupt 'int $0x0E'"
	help
	  Trigger #PF by soft interrupt 'int $0xE'

endif # End of DEBUG_INTERRUPT

endmenu
