#
# System Call: alarm
#

menu "alarm       schedule an alarm signal - SIGALRM"

config DEBUG_SYSCALL_ALARM
	bool "alarm(): schedule an alarm signal - SIGALRM"
	help
	  Debug alarm system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_ALARM

config DEBUG_SYSCALL_ALARM0
	bool "System CALL: alarm (linux0.11.1 MINIXFS)"
	help
	  Alarm system call on linux0.11.1.

endif

endmenu
