#
# Interrupt 3 - Breakpoint Exception (#BP)
#
menu "Interrupt 3 - Breakpoint Exception (#BP)"

config DEBUG_INTERRUPT3
        bool "Interrupt 3 - Breakpoint Exception (#BP)"
        help
	  Indicates that a breakpoint instruction (INT 3, opcode CCH) was 
	  executed, causing a breakpoint trap to be generated. Typically, 
	  a debugger sets a breakpoint by replacing the first opcode byte 
	  of an instruction with the opcode for the INT 3 instruction. (
	  The INT 3 instruction is one byte long, which makes it easy to 
	  replace an opcode in a code segment in RAM with the breakpoint 
	  opcode). The operating system or a debugging tool can use a data 
	  segment mapped to the same physical address space as the code 
	  segment to place an INT 3 instruction in place where it is 
	  desired to call the debugger.

if DEBUG_INTERRUPT3

config DEBUG_SOFT_INT3
	bool "Trigger #BP by soft-interrupt 'int $0x03'"
	help
	  Trigger #BP by soft interrupt 'int $0x3'

config DEBUG_INT3_TF
	bool "Tirgger #BP by setting TF flag on EFLAGS"
	help
	  Trigger #BP by setting TF flag. When TF on EFLAGS is set,
	  the system will trigger interrupt 3.

endif # End of DEBUG_INTERRUPT

endmenu
