#
# System Call: chroot
#

menu "chroot      change root directory"

config DEBUG_SYSCALL_CHROOT
	bool "chroot(): change root directory"
	help
	  Debug chroot system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_CHROOT

config DEBUG_SYSCALL_CHROOT0
	bool "System CALL: chroot (linux0.11.1 MINIXFS)"
	help
	  Chroot system call on linux0.11.1.

endif

endmenu
