#
# System Call: stime
#

menu "stime       set time in seconds"

config DEBUG_SYSCALL_STIME
	bool "stime(): set time in seconds"
	help
	  Debug stime system Call Mechanism on X86 Architecture.

if DEBUG_SYSCALL_STIME

config DEBUG_SYSCALL_STIME0
	bool "System CALL: stime (linux0.11.1 MINIXFS)"
	help
	  Stime system call on linux0.11.1.

endif

endmenu
